*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #361134;
    color: #fff;
}

.container{
    margin: 12%;
    width: 70%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    gap: 8px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #F391A0;
    border-bottom: 4px solid #B0228C;
    padding: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    flex: 1;
    font-size: 24px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}

.container button{
    border: 0;
    outline: 0;
    background: #B0228C;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.length{
    margin-top: 18px; 
}
.length label{
    display:block;
    margin-bottom: 6px; 
    opacity:.9; 
}
.length input[type="range"]{
    width: 200px;
    max-width: 100%; 
}

#copyMsg {
    display: none;
    color: #00d37e;
    font-weight: 700;
}
#copyMsg.show {
     opacity: 1; 
}

#copyImg {
  cursor: pointer;
}